---
---

@use 'colors';
@use 'type';
@use 'spacing';
@use 'chip';

#tag-chip-holder {
    margin-top: spacing.$spacing-small;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: baseline;
    gap: spacing.$spacing-small;
}

.tagchip {
    @include type.ui-normal;
    background: colors.$surface-3;
    color: colors.$on-surface;
    text-decoration: none;
}
.tagchip:hover {
    background: color-mix(in srgb, colors.$surface-3 , colors.$on-surface 4%);
}
.tagchip:focus {
    background: color-mix(in srgb, colors.$surface-3 , colors.$on-surface 8%);
}
.tagchip:active {
    background: color-mix(in srgb, colors.$surface-3 , colors.$on-surface 12%);
}
