---
---

@use 'colors';
@use 'type';
@use 'spacing';
@use 'chip';

#tag-chip-holder {
    margin-top: spacing.$spacing-small;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: baseline;
    gap: spacing.$spacing-small;
}
#tag-chip-holder:empty {
    margin-top: 0;
}

.tagchip {
    @include type.ui-normal;
    background: colors.$surface-3;
    color: colors.$on-surface;
    text-decoration: none;
}
.tagchip:hover {
    background: color-mix(in srgb, colors.$surface-3, colors.$on-surface 4%);
}
.tagchip:focus {
    background: color-mix(in srgb, colors.$surface-3, colors.$on-surface 8%);
}
.tagchip:active {
    background: color-mix(in srgb, colors.$surface-3, colors.$on-surface 12%);
}

.toc-side-box {
    margin-right: spacing.$spacing-small;
}
.toc-overflow-box {
    width: min(200px, 25vw);
    box-sizing: border-box;
    height: 100vh;
    overflow: auto;
}
.toc-sticky-box {
    position: sticky;
    top: 0;
}

.homelink {
    text-decoration: underline transparent;
    color: colors.$primary;
    @include type.ui-medium;
    transition: all 100ms;
}
.homelink:hover {
    text-decoration-color: currentcolor;
}
.toc-header {
    @include type.ui-normal;
    margin: 0;
    margin-top: spacing.$spacing-large;
    margin-bottom: spacing.$spacing-small;
}

.toc-list, .toc-sublist {
    @include type.ui-normal;
    list-style-type: none;
    line-height: 1.5em;
}
.toc-list {
    padding-inline-start: 0;
    padding: 0;
    margin: 0;
}
.toc-sublist {
    padding-inline-start: spacing.$spacing-large;
}
.toc-sublist {
    padding-inline-start: spacing.$spacing-large;
}
.toc-entry a {
    color: colors.$primary;
    text-decoration: underline transparent;
    transition: all 50ms;
}
.toc-entry a:hover {
    text-decoration-color: currentcolor;
}

.not-toc {
    min-width: 0;
}
