---
---

@use "type.scss";
@use "spacing.scss";
@use "colors.scss";
@use "markdowncontent.scss";
@use "syntax-highlighting-default.css";

html {
    background: var(--color-surface-0);
    color: var(--color-on-surface);
}

body {
    padding: 0;
    margin: 0;
}

.notfullwidth {
    max-width: 80vw;
    margin: 0 auto;
}
@media screen and (max-width: 800px) {
    .notfullwidth {
        max-width: calc(100vw - #{spacing.$spacing-small} * 2);
    }
}

.page-top {
    margin-top: spacing.$spacing-xlarge;
    margin-bottom: spacing.$spacing-xlarge;
}
.page-title {
    @include type.ui-big;
    text-align: center;
    margin: 0;
    color: var(--color-on-surface);
}
.page-subtitle {
    @include type.ui-normal;
    text-align: center;
    margin-top: spacing.$spacing-small;
    margin-bottom: 0;
    color: var(--color-on-surface-less);
}
