@use 'sass:math';

$light-primary: #035825;
$light-on-primary: #CCEFD4;
$light-primary-container: #86E39C;
$light-on-primary-container: #08581B;

$light-surface-0: #F2FCF1;
$light-surface-1: #E7FAE5;
$light-surface-2: #DFF7E1;
$light-surface-3: #D9F1DB;

$light-on-surface: #18301B;
$light-on-surface-less: #4D604F;

$light-outline: #666666;
$light-outline-less: #999999;

$dark-primary: #A9DFB4;
$dark-on-primary: #002908;
$dark-primary-container: #1F582A;
$dark-on-primary-container: #E5FCE2;

$dark-surface-0: #041109;
$dark-surface-1: #0E1812;
$dark-surface-2: #171F1B;
$dark-surface-3: #1D2621;

$dark-on-surface: #CEDED0;
$dark-on-surface-less: #9EB3A1;

$dark-outline: #aaaaaa;
$dark-outline-less: #999999;

$aaa-normal-text-ratio: 7;
$aaa-large-text-ratio: 4.5;
$ui-ratio: 3;
$surface-ratio: 1.03;

@function srgb_to_linear($val) {
    @if $val < 0.3928 {
        @return math.div($val, 12.92);
    } @else {
        $thingy: math.div($val + 0.055, 1.055);
        @return math.pow($thingy, 2.4);
    }
}

@function relative_luminance($color) {
    $r: srgb_to_linear(math.div(red($color), 255.0));
    $g: srgb_to_linear(math.div(green($color), 255.0));
    $b: srgb_to_linear(math.div(blue($color), 255.0));

    @return 0.2126 * $r + 0.7152 * $g + 0.0722 * $b;
}

@function contrast_ratio($c1, $c2) {
    $c1-luminance: relative_luminance($c1);
    $c2-luminance: relative_luminance($c2);

    @return math.div(max($c1-luminance, $c2-luminance) + 0.05, min($c1-luminance, $c2-luminance) + 0.05);
}

@function ensure_contrast_ratio($c1, $c2, $needed-ratio) {
    $actual-ratio: contrast_ratio($c1, $c2);
    @if $actual-ratio < $needed-ratio {
        @warn("contrast ratio between #{$c1} and #{$c2} is #{$actual-ratio}, not #{$needed-ratio}");
        @return false;
    }
    @return true;
}

@debug ensure_contrast_ratio($light-primary, $light-surface-0, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($light-primary, $light-surface-1, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($light-primary, $light-surface-2, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($light-primary, $light-surface-3, $aaa-normal-text-ratio);

@debug ensure_contrast_ratio($light-surface-0, $light-surface-1, $surface-ratio);
@debug ensure_contrast_ratio($light-surface-1, $light-surface-2, $surface-ratio);
@debug ensure_contrast_ratio($light-surface-2, $light-surface-3, $surface-ratio);

@debug ensure_contrast_ratio($light-primary-container, $light-surface-0, $surface-ratio);
@debug ensure_contrast_ratio($light-primary-container, $light-surface-1, $surface-ratio);
@debug ensure_contrast_ratio($light-primary-container, $light-surface-2, $surface-ratio);
@debug ensure_contrast_ratio($light-primary-container, $light-surface-3, $surface-ratio);

@debug ensure_contrast_ratio($light-on-primary, $light-primary, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($light-on-primary-container, $light-primary-container, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($light-on-surface, $light-surface-0, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($light-on-surface-less, $light-surface-0, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($light-on-surface, $light-surface-1, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($light-on-surface-less, $light-surface-1, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($light-on-surface, $light-surface-2, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($light-on-surface-less, $light-surface-2, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($light-on-surface, $light-surface-3, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($light-on-surface-less, $light-surface-3, $aaa-normal-text-ratio);

@debug ensure_contrast_ratio($light-outline, $light-surface-0, $ui-ratio);
@debug ensure_contrast_ratio($light-outline, $light-surface-1, $ui-ratio);
@debug ensure_contrast_ratio($light-outline, $light-surface-2, $ui-ratio);
@debug ensure_contrast_ratio($light-outline, $light-surface-3, $ui-ratio);

@debug ensure_contrast_ratio($dark-primary, $dark-surface-0, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($dark-primary, $dark-surface-1, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($dark-primary, $dark-surface-2, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($dark-primary, $dark-surface-3, $aaa-normal-text-ratio);

@debug ensure_contrast_ratio($dark-surface-0, $dark-surface-1, $surface-ratio);
@debug ensure_contrast_ratio($dark-surface-1, $dark-surface-2, $surface-ratio);
@debug ensure_contrast_ratio($dark-surface-2, $dark-surface-3, $surface-ratio);

@debug ensure_contrast_ratio($dark-primary-container, $dark-surface-0, $surface-ratio);
@debug ensure_contrast_ratio($dark-primary-container, $dark-surface-1, $surface-ratio);
@debug ensure_contrast_ratio($dark-primary-container, $dark-surface-2, $surface-ratio);
@debug ensure_contrast_ratio($dark-primary-container, $dark-surface-3, $surface-ratio);

@debug ensure_contrast_ratio($dark-on-primary, $dark-primary, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($dark-on-primary-container, $dark-primary-container, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($dark-on-surface, $dark-surface-0, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($dark-on-surface-less, $dark-surface-0, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($dark-on-surface, $dark-surface-1, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($dark-on-surface-less, $dark-surface-1, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($dark-on-surface, $dark-surface-2, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($dark-on-surface-less, $dark-surface-2, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($dark-on-surface, $dark-surface-3, $aaa-normal-text-ratio);
@debug ensure_contrast_ratio($dark-on-surface-less, $dark-surface-3, $aaa-normal-text-ratio);

@debug ensure_contrast_ratio($dark-outline, $dark-surface-0, $ui-ratio);
@debug ensure_contrast_ratio($dark-outline, $dark-surface-1, $ui-ratio);
@debug ensure_contrast_ratio($dark-outline, $dark-surface-2, $ui-ratio);
@debug ensure_contrast_ratio($dark-outline, $dark-surface-3, $ui-ratio);

:root {
    --color-primary: #{$light-primary};
    --color-on-primary: #{$light-on-primary};
    --color-primary-container: #{$light-primary-container};
    --color-on-primary-container: #{$light-on-primary-container};
    --color-surface-0: #{$light-surface-0};
    --color-surface-1: #{$light-surface-1};
    --color-surface-2: #{$light-surface-2};
    --color-surface-3: #{$light-surface-3};
    --color-on-surface: #{$light-on-surface};
    --color-on-surface-less: #{$light-on-surface-less};
    --color-outline: #{$light-outline};
    --color-outline-less: #{$light-outline-less};
}
@media (prefers-color-scheme: dark) {
   :root {
        --color-primary: #{$dark-primary};
        --color-on-primary: #{$dark-on-primary};
        --color-primary-container: #{$dark-primary-container};
        --color-on-primary-container: #{$dark-on-primary-container};
        --color-surface-0: #{$dark-surface-0};
        --color-surface-1: #{$dark-surface-1};
        --color-surface-2: #{$dark-surface-2};
        --color-surface-3: #{$dark-surface-3};
        --color-on-surface: #{$dark-on-surface};
        --color-on-surface-less: #{$dark-on-surface-less};
        --color-outline: #{$dark-outline};
        --color-outline-less: #{$dark-outline-less};
   }
}

$primary: var(--color-primary);
$on-primary: var(--color-on-primary);
$primary-container: var(--color-primary-container);
$on-primary-container: var(--color-on-primary-container);
$surface-0: var(--color-surface-0);
$surface-1: var(--color-surface-1);
$surface-2: var(--color-surface-2);
$surface-3: var(--color-surface-3);
$on-surface: var(--color-on-surface);
$on-surface-less: var(--color-on-surface-less);
$outline: var(--color-outline);
$outline-less: var(--color-outline-less);
