@use "type.scss";
@use "spacing.scss";
@use "colors.scss";

.markdowncontent h1 {
    @include type.content-h1;
    margin-top: spacing.$spacing-xlarge;
    margin-bottom: spacing.$spacing-large;
    color: colors.$on-surface;
}
.markdowncontent h2 {
    @include type.content-h2;
    margin-top: spacing.$spacing-large;
    margin-bottom: spacing.$spacing-medium;
    color: colors.$on-surface;
}
.markdowncontent h3 {
    @include type.content-h3;
    margin-top: spacing.$spacing-medium;
    margin-bottom: spacing.$spacing-medium;
    color: colors.$on-surface;
}
.markdowncontent h4 {
    @include type.content-h4;
    margin-top: spacing.$spacing-medium;
    margin-bottom: spacing.$spacing-small;
    color: colors.$on-surface;
}
.markdowncontent h5 {
    @include type.content-h5;
    margin-top: spacing.$spacing-medium;
    margin-bottom: spacing.$spacing-small;
    color: colors.$on-surface;
}
.markdowncontent h6 {
    @include type.content-h6;
    margin-top: spacing.$spacing-medium;
    margin-bottom: spacing.$spacing-small;
    color: colors.$on-surface;
}
.markdowncontent p {
    @include type.content-body;
    margin-top: spacing.$spacing-small;
    margin-bottom: spacing.$spacing-small;
    line-height: 1.5em;
    color: colors.$on-surface;
}

.markdowncontent a {
    @include type.content-body;
    text-decoration: underline;
    color: colors.$primary;
}

.markdowncontent :not(pre) > code {
    @include type.content-code-font;
    background: colors.$surface-1;
    padding: 0 spacing.$spacing-tiny;
    border-radius: spacing.$spacing-small;
    display: inline-block;
}

.markdowncontent pre {
    @include type.content-code;
    background: colors.$surface-1;
    padding: spacing.$spacing-small spacing.$spacing-medium;
    border-radius: spacing.$spacing-medium;
    box-sizing: border-box;
    overflow-x: auto;
}

.markdowncontent .table-wrapper {
    width: 100%;
    overflow-x: auto;

    border-radius: spacing.$spacing-small;
}
.markdowncontent table {
    background: colors.$surface-1;

    padding: 0;

    table-layout: fixed;

    border-collapse: separate;
    border-spacing: 0;

    border-radius: spacing.$spacing-small;
    overflow: hidden;
}
.markdowncontent svg {
  border-radius: spacing.$spacing-small;
}
.markdowncontent th {
    @include type.content-body;
    font-weight: 700;
    padding: spacing.$spacing-tiny spacing.$spacing-small;
    background: colors.$surface-2;
}
.markdowncontent td {
    @include type.content-body;
    padding: spacing.$spacing-tiny spacing.$spacing-small;
}
// the next 2 things are copied from https://unused-css.com/blog/css-rounded-table-corners/
// Apply a border to the right of all but the last column
.markdowncontent table th:not(:last-child),
.markdowncontent table td:not(:last-child) {
 border-right: 1px solid colors.$outline-less;
}
// Apply a border to the bottom of all but the last row
.markdowncontent table>thead>tr:not(:last-child)>th,
.markdowncontent table>thead>tr:not(:last-child)>td,
.markdowncontent table>tbody>tr:not(:last-child)>th,
.markdowncontent table>tbody>tr:not(:last-child)>td,
.markdowncontent table>tfoot>tr:not(:last-child)>th,
.markdowncontent table>tfoot>tr:not(:last-child)>td,
.markdowncontent table>tr:not(:last-child)>td,
.markdowncontent table>tr:not(:last-child)>th,
.markdowncontent table>thead:not(:last-child),
.markdowncontent table>tbody:not(:last-child),
.markdowncontent table>tfoot:not(:last-child) {
 border-bottom: 1px solid colors.$outline-less;
}

.markdowncontent li {
    @include type.content-body;
    line-height: 1.5em;
}
ul {
  padding-left: spacing.$spacing-large;
}
ol {
  padding-left: spacing.$spacing-large;
}

figure {
    margin: 0;
}
