@use "type.scss";
@use "spacing.scss";
@use "colors.scss";

.markdowncontent h1 {
    @include type.content-h1;
    margin-top: spacing.$spacing-xlarge;
    margin-bottom: spacing.$spacing-large;
    color: colors.$on-surface;
}
.markdowncontent h2 {
    @include type.content-h2;
    margin-top: spacing.$spacing-large;
    margin-bottom: spacing.$spacing-medium;
    color: colors.$on-surface;
}
.markdowncontent h3 {
    @include type.content-h3;
    margin-top: spacing.$spacing-medium;
    margin-bottom: spacing.$spacing-medium;
    color: colors.$on-surface;
}
.markdowncontent h4 {
    @include type.content-h4;
    margin-top: spacing.$spacing-medium;
    margin-bottom: spacing.$spacing-small;
    color: colors.$on-surface;
}
.markdowncontent h5 {
    @include type.content-h5;
    margin-top: spacing.$spacing-medium;
    margin-bottom: spacing.$spacing-small;
    color: colors.$on-surface;
}
.markdowncontent h6 {
    @include type.content-h6;
    margin-top: spacing.$spacing-medium;
    margin-bottom: spacing.$spacing-small;
    color: colors.$on-surface;
}
.markdowncontent p {
    @include type.content-body;
    margin-top: spacing.$spacing-small;
    margin-bottom: spacing.$spacing-small;
    line-height: 1.5em;
    color: colors.$on-surface;
}

.markdowncontent a {
    @include type.content-body;
    text-decoration: underline;
    color: colors.$primary;
}

.markdowncontent :not(pre) > code {
    @include type.content-code-font;
    background: colors.$surface-1;
    padding: 0 spacing.$spacing-tiny;
    border-radius: spacing.$spacing-small;
    display: inline-block;
}

.markdowncontent pre {
    @include type.content-code;
    background: colors.$surface-1;
    padding: spacing.$spacing-small spacing.$spacing-medium;
    border-radius: spacing.$spacing-medium;
}

figure {
    margin: 0;
}
