@use 'sass:math';

$spacing-scale: math.div(4, 3);
$spacing-small: 8px;
$spacing-medium: calc(#{$spacing-small} * pow(#{$spacing-scale}, 1));
$spacing-large: calc(#{$spacing-small} * pow(#{$spacing-scale}, 2));
$spacing-xlarge: calc(#{$spacing-small} * pow(#{$spacing-scale}, 3));
