---
---

@import "type.scss";
@import "spacing.scss";
@import "colors.scss";

.post-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    gap: 10px 10px;
}

.post-list-item {
    background: $color-surface-1;
    padding: $spacing-xlarge;
    border-radius: $spacing-xlarge;
    width: calc(33% - 10px);
    box-sizing: border-box;
}
.post-date {
    // display: inline-block;
    // width: 60pt;
}
.post-excerpt {
    max-height: 150px;
    overflow: hidden;
    position: relative;
    z-index: 0;

}
.excerpt-blocker {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(#0000, $color-surface-1);
}
body .post-link {
    @include ui-medium;
    text-decoration: none;
}
