---
---

@use "type";
@use "spacing";
@use "colors";

.post-list {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(auto-fill, max-content);
    gap: 10px;
    align-item: start;
}

.post-list-item {
    background: colors.$color-surface-1;
    padding: spacing.$spacing-xlarge;
    border-radius: spacing.$spacing-xlarge;
    box-sizing: border-box;
}
.post-date {
}
.post-excerpt {
    max-height: 200px;
    overflow: hidden;
    position: relative;
    z-index: 0;

}
.excerpt-blocker {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(#0000, colors.$color-surface-1);
}
body .post-link {
    @include type.ui-medium;
    text-decoration: none;
}
