---
---

@import "type.scss";
@import "spacing.scss";
@import "colors.scss";

.navlink {
    @include ui-medium;
    text-decoration: none;
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
    color: $color-on-surface;
}

html {
    background: $color-surface-0;
    color: $color-on-surface;
    @include content-body;
    min-height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

.content {
    padding: 0 $spacing-large;
}

.notfullwidth {
    max-width: 80vw;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .notfullwidth {
      max-width: none;
  }
}

#topbarbox {
    background: $color-surface-3;
    margin: 0;
    padding: 0;
    top: 0;
    position: sticky;
    z-index: 3;
}
#topbarthings {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    padding: $spacing-large;
    padding-top: calc(#{$spacing-large} - 0.3em);
}

#homelinkitem {
    flex-grow: 2;
}

#homelink {
    @include ui-big;
}

.postcontent .title {
    @include content-title;
    margin-top: $spacing-xlarge;
    margin-bottom: $spacing-xlarge;
    color: $color-on-surface;
}
.postcontent h1 {
    @include content-h1;
    margin-top: $spacing-xlarge;
    margin-bottom: $spacing-large;
    color: $color-on-surface;
}
.postcontent h2 {
    @include content-h2;
    margin-top: $spacing-large;
    margin-bottom: $spacing-medium;
    color: $color-on-surface;
}
.postcontent h3 {
    @include content-h3;
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
    color: $color-on-surface;
}
.postcontent h4 {
    @include content-h4;
    margin-top: $spacing-medium;
    margin-bottom: $spacing-small;
    color: $color-on-surface;
}
.postcontent h5 {
    @include content-h5;
    margin-top: $spacing-medium;
    margin-bottom: $spacing-small;
    color: $color-on-surface;
}
.postcontent h6 {
    @include content-h6;
    margin-top: $spacing-medium;
    margin-bottom: $spacing-small;
    color: $color-on-surface;
}
.postcontent p {
    @include content-body;
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
    color: $color-on-surface;
}

.postcontent a {
    @include content-body;
    text-decoration: underline;
    color: $color-primary;
}

.postcontent code {
    @include content-code;
}

.postcontent pre {
    background: $color-surface-1;
    padding: $spacing-large;
    border-radius: 10px;
}

figure {
    margin: 0;
}
