<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% assign pt = page.title | strip %}
        {% if pt != "" %}
            <title>{{ page.title }} - {{ site.title }}</title>
        {% else %}
            <title>{{ site.title }}</title>
        {% endif %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400..900&family=Poppins:wght@400;600;700&family=Roboto+Mono">
        <link rel="stylesheet" href="{{ "/style.css" | relative_url }}">
    </head>
    <body>
        {{ content }}
    </body>
</html>
