---
layout: default
---

<link rel="stylesheet" href="{{ "/post-style.css" | relative_url }}">

<div class="notfullwidth">
    <div class="page-top">
        <h1 class="page-title">{{ page.title }}</h1>
        <div class="page-subtitle">
            <p style="margin: 0; padding: 0">{{ page.date | date: "%b %d, %Y" }}</p>
            <div id="tag-chip-holder">
                {%- for tag in page.tags -%}
                <a style="display: block" class="chip tagchip" href={{ "/tags/" | append: tag | relative_url }}>{{ tag }}</a>
                {%- endfor -%}
            </div>
        </div>
    </div>
    <section class="markdowncontent">
        {{ content }}
    </section>
</div>
